extends c


snippet beginend
	${1:vect}.begin(), $1.end()

snippet cerr
	std::cerr << ${1:data} << ${2:std::endl};

snippet cin
	std::cin >> ${1:data};

snippet class
	class ${1:`expand('%:t:r')`} {
	public:
		$1();
		$1(${2:args});
		~$1();

	private:

	};

snippet cout
	std::cout << ${1:data} << ${2:std::endl};

snippet vect
	std::vector<${1:int}> ${2:};
