snippet class
	public class ${1:`(expand('%:r'))`} extends ${2:Parent} {
		${3:}
	}

snippet if
	if (${1}) {
		${2}
	}

snippet imp
	import ${1:};

snippet Imp
	import java.${1:};

snippet for
	for (int ${2:idx} = ${3:0}; $2 < ${1:count}; ${4:$2++}) {
		${0:/* code */}
	}

snippet main
	public static void main(String[] args) {
		${1:}
	}

snippet todo
	//TODO

snippet while
	while (${1:/* condition */}) {
		${0:/* code */}
	}
