snippet for
for ${3:${1:i}=${2:1:10}}
	$0
end
endsnippet

snippet "whi?l?e?" "while loop" r
while ${3:${1:i}<${2:10}}
	$0
end
endsnippet

snippet if
if ${1:}
	$0
end
endsnippet
snippet "els?e?if" "elsif" r
elseif ${1:}
	$0
endsnippet


snippet "func?t?i?o?n?" "function" r
function [${3:outputs}] = ${1:name}(${2:inputs})
$0
end
endsnippet


