snippet proj
<project name="${1}">
	$0
</project>
endsnippet

snippet prop
<property name="${1}" value="${2}"/>
endsnippet

snippet "targ?e?t?" "target rule" r
<target name="${1}" ${2}>
	$0
</target>

endsnippet

snippet dep
depends="${1}" 
endsnippet
snippet des
description="${1}" 
endsnippet



