snippet "\\?beg(in)?" "\begin \end" r
\begin{${1:equation}}
	$0
\end{$1}
endsnippet

snippet "\\?((^|)(doc(ument)?|cla?s?s?))+$" "\documentclass" rb
\documentclass{$0}
endsnippet

snippet "\\?(use)?pack(age)?" "\usepackage{}" r
\usepackage{$0}
endsnippet

snippet $
\($0\)
endsnippet

snippet todo
% TODO 
endsnippet
