/**
 * Course: COMPSCI ${1:3000}
 * Assignment ${2:1}, question ${3:1}
 * Author: ${4:Andrew Lang}
 * Student ID: a1648205
 * Filename: `expand('%:t')`
 * Design began: ${5:`strftime("%b %d, %Y")`}
 * Coding began: ${6:`strftime("%b %d, %Y")`}
 * Description: ${7:Description}
 */
